.card{
    border-radius: 25px;
    border: 1px solid rgb(245, 238, 238);
    box-shadow: rgba(201, 86, 19, 0.911) 0px 2px 4px 0px, rgba(167, 111, 8, 0.32) 0px 2px 16px 0px;
}
.imagenCard{
    box-shadow: rgba(197, 98, 16, 0.973) 0px 50px 100px -20px, rgba(131, 39, 11, 0.3) 0px 30px 60px -30px;
}
.carousel{
    border-radius: 15px;
    box-shadow: rgba(26, 20, 16, 0.993) 0px 50px 100px -20px, rgba(247, 194, 194, 0.3) 0px 30px 60px -30px, rgba(12, 49, 43, 0.35) 0px -2px 6px 0px inset;
}

.imagen{
    border-radius: 25px;
}
.card {
    border: none !important;
    box-shadow: rgba(99, 40, 11, 0.911) 0px 2px 4px 0px,
      rgba(192, 131, 17, 0.32) 0px 2px 16px 0px;
  }
  .imagenCard {
    box-shadow: rgba(128, 34, 6, 0.973) 0px 50px 100px -20px,
      rgba(247, 95, 35, 0.3) 0px 30px 60px -30px;
  }
  .carrusel {
    border-radius: none;
    box-shadow: rgba(43, 39, 39, 0.993) 0px 50px 100px -20px,
      rgba(37, 11, 11, 0.3) 0px 30px 60px -30px,
      rgba(2, 26, 22, 0.35) 0px -2px 6px 0px inset;
  }
  #ffcb91 .imagen {
    border: none !important;
  }
  .titulo {
    font-family: fantasy;
    color: #ffefa1 !important;
  }
  
  .letras {
    font-family: fantasy;
    color: #110e0a;
    
  }
  .modal-form {
    background: #ffcb91;
  }
  .pies-modal {
    background: #ffefa1;
  }
  .arriba {
    background: #ffcb91;
  }
  .eliminar {
    color: #ffcb91;
  }
  .editar {
    color: #94ebcd;
  }
  .menu {
    color: #ffefa1;
  }
  .titucard {
    color: #52e0d0;
    font-family: fantasy;
    
  }